<a href="https://colab.research.google.com/github/kevinkirotichkibet/Moringa-Independent-Project/blob/main/Moringa_Data_Science_Prep_W1_Independent_Project_2021_04_30_Kevin_Kirotich_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load sql extension to the environment
#%load_ext sql
%load_ext sql

#connection to our memory sqllite database
%sql sqlite://

'Connected: @None'

In [ ]:
#Liobrary importation needed by the notebook
import csv
import pandas as pd

In [ ]:
#loading table to our local CSV file

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
  YieldInfo = pd.read_csv(f, index_col=0, encoding='utf-8')

#%sql DROP TABLE if EXISTS YieldInfo
%sql PERSIST YieldInfo

 * sqlite://

'Persisted yieldinfo'

In [ ]:

#Displaying sub counties and their population and areas


%%sql
SELECT "SUBCOUNTY_NAME", "POP","Area" FROM YieldInfo

In [ ]:
#list of districts by total crop area in ascending order
#sorting by ascending order
#selecting distric name column from the database
%%sql
SELECT "DISTRICT_NAME" FROM YieldInfo


ORDER BY "Crop_Area_Ha" DESC

In [ ]:
#sub counties in moroto district and a sorghum production listed sorted alphabetically 
#Selecting subcounty and sorghum production area from database
#sort only from moroto district
#sort alphabetically
%%sql
SELECT "SUBCOUNTY_NAME", "S_Area_Ha" FROM YieldInfo
WHERE "DISTRICT_NAME" = "MOROTO"
ORDER BY "SUBCOUNTY_NAME" ASC

In [ ]:
#Total maize production per district
#select district column and add the values of maize for the district
#Group your data according to district they cover
%%sql
SELECT "DISTRICT_NAME", sum("M_Area_Ha")
FROM YieldInfo
GROUP BY "DISTRICT_NAME"

In [ ]:
#The number of sub counties where that produces maize and total maize per district
#count function will count the amount of subconties that produces maize
#add the total maize production per district
#Group per district
%%sql
SELECT COUNT("SUBCOUNTY_NAME"), sum("M_Area_Ha")
FROM YieldInfo
GROUP BY "DISTRICT_NAME"

In [ ]:
#The overrall crop area in all subcounties where population is over 20000
#select column of district 
%%sql
SELECT "DISTRICT_NAME",sum("Crop_Area_Ha"), sum("M_Area_Ha")
FROM YieldInfo
WHERE "POP" > 20000
GROUP BY "DISTRICT_NAME"

 * sqlite://
Done.

[('AMUDAT', 5704.671632, 2731.244228),
 ('KAABONG', 26629.900721300004, 7239.734095829999),
 ('KOTIDO', 46009.115769, 1223.248054057),
 ('MOROTO', 5809.076824, 1086.58166921),
 ('NAKAPIRIPIRIT', 19909.559379, 4900.54685354),
 ('NAPAK', 16150.565830000001, 4750.694780210001)]

In [ ]:
#sort the maize production in descending order by district
#take in account subcounties where maize is larger than sorghum
#sort in decening order by districts
%%sql
SELECT "M_Prod_Tot", "SUBCOUNTY_NAME", COUNT("SUBCOUNTY_NAME"),("DISTRICT_NAME")
FROM YieldInfo
WHERE "M_Area_Ha" > "S_Area_Ha"
GROUP BY "SUBCOUNTY_NAME"
ORDER BY "DISTRICT_NAME"